*{
    margin: 0;
    padding: 0;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFFFFF;
    padding: 20px 120px;
    /* border: 1px solid red; */
       width: 100%;
    max-width: 1140px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
 
}
.logo{
    height: 35px;
}
.nav-link{
    list-style: none;
    display: flex;
    gap: 30px
}
.nav-link li a{
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: 500;

}
.btn{
    background-color: #469165;
    color: white;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}