*{
    margin: 0;
    padding: 0;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* header start */
header{
    background-color: #FFFFFF;
    padding: 20px 120px;
    /* border: 1px solid red; */
       width: 100%;
    max-width: 1140px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
 
}
.logo{
    height: 35px;
}
.nav-link{
    list-style: none;
    display: flex;
    gap: 30px
}
.nav-link li a{
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: 500;

}
.btn{
    background-color: #469165;
    color: white;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}
/* header end */

/* Hero section start */
.hero{
    background-color: #469165;
    background-image: url("images/hero-bg.png");
    background-size: cover;
    padding: 120px 72px;
    background-position: center;
    text-align: center;
    color: #FFFFFF;
}
.bed{
    background-color: #FFFFFF;
    color: #469165;
    border: 10px solid white;
    border-radius: 1000px;
    /* padding: 12px 8px; */
    font-size: 16px;
    margin-bottom: 154.5px;
}
.hero h1{
    font-size: 72px;
    font-weight: 700;
    margin-top: 24px;
}
.hightlight{
   color: #30B868; 
}
.hero p{
    font-size: 18px;
    color: #FFFFFF;
    max-width: 1340px;
}
.hero-btn{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 16px;
}
.btn-1{
    background-color: #469165;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 12px;
    border-radius: 5px;
    border: none;
}
.btn-2{
    background-color:transparent;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid white;
    padding: 16px 12px;
}
/* hero section end */

/* section-2 start */
.family{
    text-align: center;
    background-color: #FFFFFF;
   

}
.family h2{
    font-size: 48px;
    color: #001931;
    font-weight: 600;
    margin-top: 30px;
}
.family p{
    font-size: 16px;
     margin-top: 16px;

}
.family-card{
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1140px;
    margin: 0 auto;

}
.card{
    background: #FFFFFF;
    border: 1px solid red;
    padding: 24px 24px;
    border-radius: 8px;
    margin-top: 44px;
}
.card h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
}
.card p{
    font-size: 16px;
    color: #627382;
}
/* section 2 end */
/* section-3 start*/
.Solution{
    display: flex;
    padding: 120px 120px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #FFFFFF;
    max-width: 1140px;
    margin: 0 auto;
}
.Solution-image{
    max-width: 100%;
    flex: 1;
}
.Solution-container span{
    font-size: 16px;
    color: #469165;
    font-weight: 700;
    display: ;
    margin-bottom: 16px;
}
.Solution-container h2{
    font-size: 40px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;

}
.Solution-container p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
}
.Solution-container li{
    font-size: 16px;
    color: #001931;
    margin-bottom: 15px ;
    align-items: center;
    gap: 16px;
    display: flex;
}
/* section-3 end */

/* footer star */
.ready-to{
    background-color: #F7F6F2;
    padding: 40px 80px;
    text-align: center;
    border-radius: 12px;
    max-width: 1100px;
    margin: 120px auto;
}
.ready-to h2{
    font-size: 40px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.ready-to p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 24px;
}
.btn-3{
    background-color: #469165;
    color: #FFFFFF;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

   
